#choose, .artist, .genre, #game, #lyric-box, #clip-box, #landing, #rules, #options, .timer, .show-artist, .mixgo {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(36, 36, 36);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: midnightblue;
}

header {
    background-color: chocolate;
    height: 80px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

#intro {
    width: 80%;
    margin: auto;
    justify-content: center;
}

#player>.container, #intro, #landing, .mode, #clue .container, #timer, .timer, .footer .container, .score{
    display: flex;
}

#intro img {
    margin: 30px 0;
    --animate-duration: 4s;
    --animate-repeat: 2;
}

#landing {
    justify-content: center;
}

#landing, #game {
    padding-top: 5%;
}

#rules {
    padding-top: 4px;
}

.container, #landing, #game {
    width: 90%;
    margin: 0 auto;
}

.container {
    padding: 3px;
}

.box {
    background-color: wheat;
    border-radius: 10px;
    margin: 10px;
    box-shadow: -1px 1px 10px 4px orangered;
}

.artist {
    height: 100%;
}

#rules {
    width: 40%;
}

#options, #player input, #choose {
    width: 50%;
}

.container h2{
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin: 5px auto;
}

#player input {
    height: 40px;
    margin: auto 30px;
    min-width: 140px;
}

#player input, .mode-option, .sbButton, .guess {
    background-color: white;
    box-shadow: -3px 5px 5px 5px rgba(63, 61, 61, 0.596);
}

#player input, .mode-option, .sbButton, .genre-option, .guess {
    background-clip: padding-box;
    border-radius: .65rem;
    padding: 7px 1%;
}

.genre-option {
    background-color: black;
    color: white;
}

#mode .mode-option, .genre-option, .guess {
    padding: 2.5% 1%;
}

#difficulty .mode-option:not(:first-child) {
    padding-top: 2.7%;
}

.mode {
    justify-content: space-around;
    font-size: 18px;
}

.mode-option, .sbButton, .genre-option, .guess{
    text-align: center;
    transition: 0.5s;
    flex: 1 1 auto;
    margin: 5px 3%;
}

.mode-option, .sbButton, #artist-select img:hover, .genre-option, .guess {
    cursor: pointer;
}

.mode-option:hover, .mode-option:active, .clicked, .sbButton:hover, .guess:active, .guess:hover {
    background-color: rgb(66, 60, 60);
}

.clicked, .mode-option:hover, .sbButton:hover, .guess:hover {
    color: rgb(0, 255, 55);
}

.mode-option:hover, .sbButton:hover, .guess:hover {
    opacity: 0.4;
}

.mode-option:active, .clicked, .sbButton:active, .guess:active {
    opacity: 1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.mode-option h6 {
    margin: 3px;
    line-height: 12px;
}

#artist-select, #genre-select, #guess .container {
    display: grid;
}

#artist-select, #genre-select, #artist-select img, .genre-option, .logo img, .footer, .footer .box, #timer {
    width: 100%;
}

#artist-select, #genre-select {   
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%;
    margin: 15px 0;
    justify-items: center;
}

#artist-select img, .genre-option {
    height: auto;
    box-shadow: 0px 0px 0px 0px orangered;
    transition: box-shadow 0.3s linear;
    margin: 0.5em;
}

#artist-select img:hover, .genre-option:hover {
    box-shadow: 0px 0px 8px 8px orangered;
}

footer {
    height: 80px;
}

#game .logo {
    padding: 20px 0;
    width: 25%;
}

.logo img {
    object-fit: contain;
}

#lyric {
    border: chartreuse 1px solid;
    margin: 1% 1% 1% 4%;
    padding: 2%;
}

#guess .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1% 1% 1.5% 1%;
    grid-gap: 7%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.timer {
    background-color: chocolate;
    flex-direction: column;
    align-items: center;
}

#timer {
    text-align: center;
    background-color: white;
    margin: 5px auto;
    justify-content: center;
    height: 30px;
}

#timer p {
    min-width: 90px;
    margin-top: 4px;
}
#timer p:not(:first-child){
    min-width: 40px;
    font-weight: 800;
}

.footer .box {
    margin-left: -1px;
}

.footer>.box>.container {
    width: 40%;
    min-width: 270px;
}

.score {
    width: 50%;
    padding-top: 1.8%;
    padding-right: 5%;
}

.score span {
    font-weight: 700;
    margin-left: 8%;
}